.Background__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 350px) {
    .Background__container {
      justify-content: unset;
    }
  }
  

.HamburguerList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 50px;
  }
  
  @media (max-width: 1220px) {
    .HamburguerList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 840px) {
    .HamburguerList {
      grid-template-columns: 1fr;
    }
  }
  
  